<div>
  <div>
    <div>
      <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
        <div>
          <label for="name">Project Name</label>
          <input
            type="text"
            id="name"
            formControlName="projectName">
        </div>
        <div>
          <label for="email">Mail</label>
          <input
            type="email"
            id="email"
            formControlName="email">
        </div>
        <div>
          <label for="status">Projectstatus</label>
          <select
            id="status"
            formControlName="projectStatus">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <hadar-comp2 formControlName="thumbnail"></hadar-comp2>
        <hadar-comp1 formControlName="incrementor"></hadar-comp1>
        <br>
        <button type="submit">Create Project</button>
      </form>
    </div>
  </div>
</div>
