/* You can add global styles to this file, and also import other style files */

body {
    text-align: center;
    font-size: 50px;
}

div {
    margin-bottom: 10px;
}

input {
    height: 50px;
    width: 200px;
}

.file-input {
    display: none;
}

